/* Popover
-------------------------- */
$clr-projection-poptip-shadow: 0 2px 8px 2px rgba($clr-projection-color, 0.1) !default;
$--index-popper: 2000 !default;
$--popover-arrow-size: 6px !default;
$--tooltip-arrow-size: 6px !default;

