@import './variables';

@include b(transfer-combine) {
  height: $tc-panel-height;
  overflow: hidden;
  border: 0;
  position: relative;

  @include e(left-menu) {
    position: absolute;
    top: $tc-left-menu-top;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: $tc-left-menu-width;

    .#{$prefix}-menu {
      .#{$prefix}-submenu .#{$prefix}-submenu__title, .#{$prefix}-submenu .#{$prefix}-menu-item, .#{$prefix}-menu-item {
        height: $tc-left-menu-height;
        line-height: $tc-left-menu-height;
        padding: 0 12px;
      }
      .#{$prefix}-submenu .#{$prefix}-submenu__icon-arrow {
        right: 12px;
      }
    }
  }

  @include e(transfer-panel) {
    margin: 0 0 0 $tc-left-menu-width;
    .#{$prefix}-transfer-panel {
      min-width: $tc-panel-cell-width;
      width: auto;
      .#{$prefix}-transfer-panel__body {
        height: 283px;
        .#{$prefix}-transfer-panel__list.is-filterable {
          height: 200px;
        }
      }
    }

    .#{$prefix}-checkbox {
      padding: 0;
    }
  }
}

@include b(tc-grid) {
  overflow: hidden;

  @include e(header) {
    height: 36px;
    line-height: 36px;
    background-color: $clr-bg-page-color;
    color: $clr-font-title-color;
    display: block;
  }

  @include e(cell) {
    padding: 0 0 0 8px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @include e(row) {
    clear: both;
  }

  @include e(empty-cell) {
    width: 40px;
  }
}
