$clr-menu-top-projection: 0 2px 6px 2px rgba($clr-menu-top-projection-color, 0.05) !default;
$menu-item-font-size: $font-14 !default;
$menu-border-width: 4px;
$menu-item-vertical-height: 48px;
$menu-item-horizontal-height: 60px;
$menu-width: 200px;
$menu-collapse-width: 68px;
$menu-avatar-width: 20px;
$menu-logo-height: 24px;

