.#{$prefix}-c-side-menu{
  font-size: $font-14;
  list-style: none;

  ul {
    list-style: none;
  }

  a {
    font-size: $font-14;
    line-height: $clr-font-describe-color;
    color: $clr-font-color;
    display: block;

    &.alive {
      color: $clr-font-title-color;
    }
  }
}
