.#{$prefix}-button{
  font-size: $font-14;
  line-height: $font-14-lineheight;
  color: $clr-font-btn01-color;
  background-color: $clr-error-color;
  border: 0;
  padding: 4px;
  min-width: 50px;
  cursor: pointer;
  border-radius: $border-radius;
}
