.#{$prefix}-c-footer{
  text-align: center;
  color: $clr-font-describe-color;
  font-size: $font-12;
  border-top: 1px solid $clr-divider-color;
  bottom: 0;
  @extend %fixed-position;
  top: auto;
  height: $footer-height;
  line-height: $footer-height;
}
