.#{$prefix}-c-navigator{
  font-size: $font-14;
  list-style: none;
  display: flex;
  height: 40px;
  line-height: 40px;

  li {
    flex: 50% 1 1;
    text-align: center;
    color: $clr-main01-color;
    cursor: pointer;
    @include transition(all .5s ease);

    &:hover {
      color: $clr-error-color;
    }

    span {
      margin-right: 5px;
    }

    &.actived {
      color: $clr-error-color;
    }
  }
}
