/*global*/
$prefix: hf-ui;

/*color*/
$main-color-01: #CC9967;
$main-color-18: #D79957;
$main-color-02: #E5C59E;
$main-color-03: #D2BE9F;
$main-color-04: #B09375;
$main-color-05: #333333;
$main-color-06: #666666;
$main-color-07: #999999;
$main-color-08: #CCCCCC;
$main-color-09: #DDDDDD;
$main-color-10: #EEEEEE;
$main-color-11: #F6F6F6;
$main-color-12: #F8F8F8;
$main-color-13: #FFFFFF;
$main-color-14: #69DB4C;
$main-color-15: #F1CA0F;
$main-color-16: #EC5327;
$main-color-17: #000000;

$clr-main01-color: #CC9967;
$clr-main02-color: #E5C59E;
$clr-main03-color: #D2BE9F;
$clr-main04-color: #B09375;
$clr-sub-color: $main-color-05;
$clr-success-color: #69DB4C;
$clr-warning-color: #F1CA0F;
$clr-error-color: #EC5327;
$clr-font-title-color: #333333;
$clr-font-text-color: #666666;
$clr-font-describe-color: #999999;
$clr-font-tips-color: #CCCCCC;
$clr-font-btn01-color: #FFFFFF;
$clr-font-btn2-color: #333333;
$clr-border-color: #DDDDDD;
$clr-divider-color: #EEEEEE;
$clr-icon-color: #666666;
$clr-uneditable-color: #F6F6F6;
$clr-bg-page-color: #F8F8F8;
$clr-bg-content-color: #FFFFFF;
$clr-mask-color: #000000;
$clr-projection-color: #000000;
$clr-btn-main-left: $main-color-01;
$clr-btn-main-right: $main-color-18;

