.#{$prefix}-my-app{
  width: $page-width;
  margin: 0 auto;
  .#{$prefix}-module-all {
    padding-top: 90px;
    display: flex;
    align-items: stretch;

    .#{$prefix}-c-side-menu {
      flex: 15% 1 1;
    }

    .content {
      flex: 85% 1 1;
      min-height: 800px;
    }
  }
}
@include scroll-bar;
