@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin getColorAlpha($color, $opacity) {
  color: rgba($color, $opacity);
}

@mixin getBgColorAlpha($color, $opacity) {
  background-color: rgba($color, $opacity);
}
