/*mask*/
$clr-mask: rgba($clr-mask-color, 0.7);

/*shadow*/
$clr-projection: box-shadow 0 2px 8px rgba($clr-mask-color, 0.1);

/*font*/
$font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans TC","WenQuanYi Micro Hei", "sans-serif";
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 2px;
$font-32: 32px;

$font-20-lineheight: 30px;
$font-18-lineheight: 28px;
$font-16-lineheight: 24px;
$font-14-lineheight: 22px;
$font-12-lineheight: 16px;

$font-weight-regular: 400;
$font-weight-medium: 600;

/*width*/
$page-width: 1000px;

/*gap*/
$page-gap: .1px;
