/*global*/
$prefix: hf-ui;

/*color*/
$clr-main01-color: #cc9967;
$clr-main02-color: #e5c59e;
$clr-main03-color: #d2be9f;
$clr-main04-color: #b09375;
$clr-sub-color: #333333;
$clr-success-color: #69db4c;
$clr-warning-color: #d6ca0f;
$clr-error-color: #ec5327;
$clr-font-title-color: #333333;
$clr-font-color: #666666;
$clr-font-describe-color: #999999;
$clr-font-tips-color: #cccccc;
$clr-font-btn01-color: #ffffff;
$clr-font-btn2-color: #333333;
$clr-divider-color:#eeeeee;
$clr-border-color: #dddddd;
$clr-icon-color: #666666;
$clr-divider-color: #eeeeee;
$clr-border-color: #dddddd;
$clr-icon-color: #666666;
$clr-uneditable-color: #f6f6f6;
$clr-bg-page-color: #f8f8f8;
$clr-bg-content-color: #ffffff;
$clr-mask-color: #000000;
$clr-projection-color: #000000; 

$clr-main01-num: 204,153,103;
$clr-main02-num: 229,197,158;
$clr-main03-num: 210,190,159;
$clr-main04-num: 176,147,117;
$clr-sub-num: 51,51,51;
$clr-success-num: 105,219,76;
$clr-warning-num: 214,202,15;
$clr-error-num: 236,83,39;
$clr-font-title-num: 51,51,51;
$clr-font-num: 102,102,102;
$clr-font-describe-num: 153,153,153;
$clr-font-tips-num: 204,204,204;
$clr-font-btn01-num: 255,255,255;
$clr-font-btn2-num: 51,51,51;
$clr-divider-num:238,238,238;
$clr-border-num: 221,221,221;
$clr-icon-num: 102,102,102;
$clr-divider-num:238,238,238;
$clr-border-num: 221,221,221;
$clr-icon-num: 102,102,102;
$clr-uneditable-num: 246,246,246;
$clr-bg-page-num: 248,248,248;
$clr-bg-content-num:255,255,255;
$clr-mask-num: 0,0,0;
$clr-projection-num: 0,0,0;

:export {
  appPrefix: $prefix
}

