
/*mask*/
$clr-mask: rgba($clr-mask-color, 0.7);

/*shadow*/
$clr-projection: box-shadow 0 2px 8px rgba($clr-projection-color, 0.1);

/*font*/
$font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans TC","WenQuanYi Micro Hei", "sans-serif";
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-32: 32px;

$font-20-lineheight: 30px;
$font-18-lineheight: 28px;
$font-16-lineheight: 24px;
$font-14-lineheight: 22px;
$font-12-lineheight: 16px;

$font-weight-regular: 400;
$font-weight-medium: 600;

/*radius*/
$border-radius: 3px;

/*gap*/
$page-gap: .1px;

/* Button */
$button-default-font-size: 14px !default;
$button-default-border-radius: 4px !default;
$button-default-height: 36px !default;
$button-default-padding-horizontal: 16px !default;

$button-big-font-size: 14px !default;
$button-big-border-radius: 4px !default;
$button-big-height: 36px !default;
$button-big-padding-horizontal: 16px !default;

$button-medium-font-size: 14px !default;
$button-medium-border-radius: 4px !default;
$button-medium-height: 28px !default;
$button-medium-padding-horizontal: 14px !default;

$button-small-font-size: 12px !default;
$button-small-border-radius: 4px !default;
$button-small-height: 20px !default;
$button-small-padding-horizontal: 10px !default;
