/* Transfer
--------------------------*/
/// height||Other|4
$--transfer-panel-width: 270px !default;
/// height||Other|4
$--transfer-panel-header-height: 36px !default;
/// height||Other|4
$--transfer-panel-footer-height: 60px !default;
/// height||Other|4
$--transfer-panel-body-height: 250px !default;
/// height||Other|4
$--transfer-item-height: 36px !default;
/// height||Other|4
$--transfer-filter-height: 32px !default;
